body {
    font-family: 'Poppins', sans-serif; /* Alterando a fonte para Poppins */
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%; /* Ajuste conforme necessário para a largura do container */
    background-color: #353634;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
}

.table-container {
    margin: auto;
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    min-width: 400px;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #444;
    color: #fff;
}

table tbody tr:nth-child(even) {
    background-color: #555;
}

table tbody tr:hover {
    background-color: #666;
}

.action-links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}

.action-links a:hover {
    text-decoration: underline;
}

.centralizado {
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

a.nav-link {
    color: #B5B5B5;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0;
}

a.nav-link:hover {
    text-decoration: underline;
}
