body, html {
    height: 100%;
}

.card {
    border: none;
}

.card-body {
    padding: 40px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.shorter-card {
    height: 350px; /* Altura personalizada para o card */
}